## Initial visualization of Storms
- Using data from 2017

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [2]:
locations = '../StormEvents_locations-ftp_v1.0_d2017_c20190516.csv'
events = '../StormEvents_details-ftp_v1.0_d2017_c20190516.csv'

In [3]:
locations_df = pd.read_csv(locations)

In [4]:
locations_df.head()

,YEARMONTH,EPISODE_ID,EVENT_ID,LOCATION_INDEX,RANGE,AZIMUTH,LOCATION,LATITUDE,LONGITUDE,LAT2,LON2
0,201703,112682,673239,1,0.86,SSW,ELKINS,38.9087,-79.8569,3854522,7951414
1,201703,112682,673240,1,0.00,N,(EKN)RANDOLPH FLD EL,38.8800,-79.8500,3852800,7951000
2,201703,112682,673241,1,14.77,WSW,PEELTREE,39.0417,-80.4707,392502,8028242
3,201703,112682,673699,1,2.00,S,GLENVILLE,38.9011,-80.8300,3854066,8049800
4,201703,112681,673155,1,0.60,NNW,LANGSVILLE,39.0577,-82.1854,393462,8211124

In [5]:
events_df = pd.read_csv(events)

In [32]:
df = pd.DataFrame()
df['start_time'] = pd.to_datetime(events_df['BEGIN_DATE_TIME'])
df['end_time'] = pd.to_datetime(events_df['END_DATE_TIME'])
df['event_type'] = events_df['EVENT_TYPE']
df['id'] = events_df['EVENT_ID']

df['begin_lat'] = events_df['BEGIN_LAT']
df['begin_lon'] = events_df['BEGIN_LON']
df['end_lat'] = events_df['END_LAT']
df['end_lon'] = events_df['END_LON']
df['damage_property_in_k'] = events_df['DAMAGE_PROPERTY'].str[:-1].astype(float)

In [36]:
df['episode_id'] = events_df['EPISODE_ID']

In [41]:
combined_df = pd.merge(df, locations_df, left_on=['episode_id', 'id'], right_on=['EPISODE_ID', 'EVENT_ID'])

In [45]:
combined_df.head()

,start_time,end_time,event_type,id,begin_lat,begin_lon,end_lat,end_lon,damage_property_in_k,episode_id,...,EPISODE_ID,EVENT_ID,LOCATION_INDEX,RANGE,AZIMUTH,LOCATION,LATITUDE,LONGITUDE,LAT2,LON2
0,2017-04-06 15:09:00,2017-04-06 15:09:00,Thunderstorm Wind,678791,39.6600,-75.0800,39.6600,-75.0800,NaN,113355,...,113355,678791,1,0.87,NW,FRIES MILLS,39.6600,-75.0800,3939600,754800
1,2017-04-06 09:30:00,2017-04-06 09:40:00,Tornado,679228,26.5010,-81.9980,26.5339,-81.8836,110.0,113459,...,113459,679228,1,0.63,S,PUNTA RASSA,26.5010,-81.9980,2630060,8159880
2,2017-04-06 09:30:00,2017-04-06 09:40:00,Tornado,679228,26.5010,-81.9980,26.5339,-81.8836,110.0,113459,...,113459,679228,2,1.39,SW,FORT MYERS VILLAS,26.5339,-81.8836,2632034,8153016
3,2017-04-05 17:49:00,2017-04-05 17:53:00,Thunderstorm Wind,679268,39.8500,-83.9900,39.8500,-83.9900,1.0,113448,...,113448,679268,1,2.61,NE,FAIRBORN,39.8500,-83.9900,3951000,8359400
4,2017-04-16 17:59:00,2017-04-16 19:00:00,Flood,682042,39.1065,-84.2875,39.1061,-84.2874,5.0,113697,...,113697,682042,1,0.60,NW,SUMMERSIDE,39.1065,-84.2875,396390,8417250